* {
    font-family:'Courier New', Courier, monospace;
    /* border: 1px solid red; */
    margin: 1.5%;
}

body {
}

    header {
        background-color: bisque;
        padding: 1.5%;
        border-radius: 5px;
    }
        h1 {
        }

    main {
        background-color: beige;
        padding: 1.5%;
        padding-bottom: 3%;
        border-radius: 5px;
    }
        h2{
        }
        form {
            display: inline;
        }
            input {
                margin: 0px;
                width: 150px;
            }
            button {
            }
        table {
            margin: auto;
            border: 2px solid whitesmoke;
            padding: 10px;
            width: 85%;
            background-color: rgb(215, 215, 215);
            border-radius: 5px;
        }
            tr, td {
                border: 2px solid rgb(206, 159, 206);
                padding: 5px
            }
                td {
                    background-color:rgb(255, 234, 255);
                }

    footer {
        background-color:lightsteelblue;
        padding: 1.5%;
        border-radius: 5px;
    }


.red-text {
    color:red;
}

